<div class="text-center">
    <img src="/Images/yea.PNG" class="img-fluid" />
</div>


<div class="container w-75 small cardWidth">
    <div class="card cardmargin">
        <div class="card-header cardColor">
            Range Mate
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>Range Mate was started by two guys, who where annoyed about how incorrect economy figures on cars are. So we wanted to make a place, where people like you can look up the real numbers.</p>
                <p>That presented a problem though, how do we get the real numbers? The manufactuers don't give them away, and well... they aren't excatly available anywhere. </p>
                <p>But do you know who has them, you do! You the owner of a car out there, you know your fuel or electrical consumption. All we have to do is collect this information in one place, and BAM! the real numbers are available. </p>
                <p>So thats what Range Mate is about. Take a look around and if you have any, add your own economy numbers. If you wan't to add your own numbers, but don't know how to get them <a href="../Information">click here</a></p>
                <p>Thanks - The Range Mate Team</p>
            </div>
        </div>
    </div>
</div>

@code {
}
