<section class="jumbotron text-center bg-white" style="padding: 1rem 0.5rem; margin-bottom: 0rem;">
    <div class="container">
        <h3 class="jumbotron-heading">How Do I Use Range Mate</h3>
    </div>
</section>

<div class="container w-75 small cardWidth">
    <div class="card cardmargin">
        <div class="card-header cardColor">
            How do i find my car?
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>Range Mate is easy to use, just follow this simple guide.</p>
                <ol>
                    <li>Go to the front page, and select your car manufacturer, just click it. There is a search box at the top to speed up the process.</li>
                    <li>Now select your model, it works the same way.</li>
                    <li>Then you select the engine or battery option for the car.</li>
                    <li>There you go, easy as pie!</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card cardmargin">
        <div class="card-header cardColor">
            How do i submit a report?
        </div>
        <div class="card-body">
            <div class="card-text">
                <ol>
                    <li>First ensure you have logged in. Only users can submit reports.</li>
                    <li>Then find your car using the guide above.</li>
                    <li>Scroll down the page, to find the green submit report button.</li>
                    <li>Fill out the report, with your numbers. If you aren't sure how to measure economy, see our guide below.</li>
                    <li>Then just click submit. And thank you for helping us!</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card cardmargin">
        <div class="card-header cardColor">
            How do i add a comment?
        </div>
        <div class="card-body">
            <div class="card-text">
                <ol>
                    <li>First ensure you have logged in. Only users can comment on a car.</li>
                    <li>Then find your car using the guide on this page.</li>
                    <li>Scroll down the page, to find the comment box.</li>
                    <li>Type in your comment, like how you get the best milage out of this car, and press submit comment!</li>
                    <li>Now your information is shared with the world. Thank you.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card cardmargin">
        <div class="card-header cardColor">
            How do i measure my Fuel Economy?
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>
                    Many cars come with a built in indicator, that shows you the fuel economy. Unfortunately these are not allways correct, as some manufacturers have been caught cheating with these.
                    Furthermore many of the built in fuel economy devices, calculate the amount of fuel consumed, based on the amount of air going into the engine.
                    As such it is simply not accurate, but an approximation.
                </p>
                <p>The only real way to measure you economy accurately, is to do it yourself. <br /></p>
                <ol>
                    <li>Fill up your fuel tank, until the fuel nozzle clicks off by itself.</li>
                    <li>Record the current milage / km the car has traveled or reset your trip gauge.</li>
                    <li>Drive your car as you normally do. If you are making a motorway or city measurement keep to those.</li>
                    <li>When the fuel is low, or ypu test is over fill up the car one more time.</li>
                    <li>Now for some simple maths divide your distance with the amount of fuel used, like this. 500km / 20 liters = 16.6 Km/l</li>
                    <li>Them simply submit your report to us.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card cardmargin">
        <div class="card-header cardColor">
            How do i measure my Electrical Range?
        </div>
        <div class="card-body">
            <div class="card-text">
                <ol>
                    <li>Charge up your car to 100%, and record the range.</li>
                    <li>Drive until the range shows 0 or as close as you can get.</li>
                    <li>Record the driven distance, and submit it to us. We will calculate the kWh/100 km for you.</li>
                </ol>
                <p>
                    Traditionally electric cars are compared by range. And while this is an important piece of information, it does not tell you how efficient the car is therefore we include the kWh/100 km number.
                    This is a european standard, which tells you how many kilowatts it takes to travel 100 km in that car. Just like l/100km or MPG for your car
                </p>
            </div>
        </div>
    </div>

</div>

<section>
    <div class="container w-75 small">
        <p>Thanks - The Range Mate Team</p>
    </div>
</section>

@code {

}
